<section class="col-12 search-bar d-flex flex-column mt-2 mb-2">
 <div class="col-12 col-xl-3 col-lg-3 col-xxl-3 col-md-7 d-flex gap-1">
   <section class="col-9">
     <input type="text" class="col-12 p-2" [(ngModel)]="searchKey">
   </section>
   <section class="col-1  d-flex justify-content-center align-items-center icons" (click)="basicSearch()">
     <i class="fa-solid fa-magnifying-glass" *ngIf="!searchLoading"></i>
     <i class="fa-solid fa-spinner fa-spin" *ngIf="searchLoading"></i>
   </section>
   <section class="col-1 d-flex justify-content-center align-items-center icons" (click)="toggleAdvancedSearch()">
     <i class="fa-solid fa-gear" *ngIf="!advanceSearchVisible"></i>
     <i class="fa-solid fa-x" *ngIf="advanceSearchVisible"></i>
   </section>
   </div>
</section>
<div class="col-12 col-xl-9 col-lg-9 col-xxl-9 d-flex p-3 flex-column advance-search" *ngIf="advanceSearchVisible">
  <div class="col-12 d-flex flex-wrap">
    <div class="col-6 col-xl-2 col-xxl-2 col-lg-2 col-md-3" *ngFor="let genre of GenreConstants.genres">
      <input type="checkbox" class="col-1" (change)="toggleGenre(genre)" />
      <label class="col-11">{{genre}}</label>
    </div>
  </div>
  <button class="col-12 col-xl-2 col-xxl-2 col-lg-2 p-2 mt-2" (click)="basicGenreSearch()">Search</button>
</div>
<div class="col-12 d-flex flex-column align-items-center search-panel p-2 mt-2" *ngIf="searchResultVisible">
  <div class="col-12 d-flex p-2 justify-content-center align-items-center"  *ngIf="!isLoading">
    <h1 class="col-4">Result</h1>
    <section class="col-8 d-flex justify-content-end gap-1">
      <button class="col-1 p-2" *ngIf="currentPage !== 1" (click)="decrementPage()">
        <i class="fa-solid fa-spinner fa-spin" *ngIf="previousLoading"></i>
        <span *ngIf="!previousLoading">Previous</span>
      </button>
      <button class="col-1 p-2" *ngIf="hasNextPage" (click)="incrementPage()">
        <span *ngIf="!nextLoading">Next</span>
        <i class="fa-solid fa-spinner fa-spin" *ngIf="nextLoading"></i>
      </button>
    </section>
  </div>
  <section class="col-12 d-flex flex-wrap">
    <div class="col-12 p-1 d-flex current-page" *ngIf="!isLoading && !nextLoading && !previousLoading">
      <label class="p-3 pt-2 pb-2" >{{"Page: "+currentPage}}</label>
    </div>
    <app-trending-card class="col-6 col-md-4 col-lg-2 col-xxl-2 col-xl-2" *ngFor="let animePreview of advanceSearchResult?.results" [animePreview]="animePreview"></app-trending-card>
  </section>
</div>

