
.ep-card label{
  margin: 0;
  font-size: var(--medium-font);
  cursor: pointer;

}

.ep-card{
  border-color: var(--primary-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  max-height: 50px;
}
.ep-card:hover, .ep-card-active{
  color: white;
}

