<app-config-form *ngIf="configView"></app-config-form>

<div class="col-12 d-flex flex-column episode-wrapper ">
  <app-media-player [sources]="sources" *ngIf="showVideoPlayer" [episodeName]="selectedEpisodeName"
                    [color]="color" [episodeId]="selectedEpisodeId"
  ></app-media-player>

  <section class="col-12 p-1 d-flex">
    <section class="col-4 col-xl-6 col-xxl-6 col-lg06 col-md-6 d-flex controls d-flex flex-column">
      <p>{{"Episode: "+nextAiring?.episode+" Airing In"}}</p>
      <label>{{nextAiring?.timeUntilAiring}}</label>
    </section>
    <section class="col-8 col-xl-6 col-xxl-6 col-lg06 col-md-6 d-flex gap-1 controls justify-content-end">
      <button (click)="changeToNextEp()" class="col-xl-2 col-xxl-2 col-lg-2 col-4 pt-2 pb-2" *ngIf="selectedEpisodeNumber !== lastEpisodeNumber">Next</button>
      <button (click)="changeToPrevEp()" class="col-xl-2 col-xxl-2 col-lg-2 col-4 pt-2 pb-2" *ngIf="selectedEpisodeNumber !== fistEpisodeNumber">Previous</button>
      <i class="fa-solid fa-sliders col-xl-1 col-xxl-1 col-lg-1 col-2   "></i>
    </section>

  </section>

  <section class="col-12 d-flex flex-wrap flex-row">
    <div class="col-3 col-xl-1 col-xxl-1 col-lg-1 p-1" *ngFor="let ep of episodes"
         (click)="getEpisodeSources(ep.id, ep.number, ep.title)"
         (mouseenter)="setHoveredId(ep.id)"
         (mouseleave)="setHoveredId('')">
      <div class="col-12 pt-3 pb-3 d-flex flex-column gap-0 align-items-center justify-content-center ep-card"
           [ngStyle]="{
               'background-color': hoveredEpisodeId === ep.id || selectedEpisodeId === ep.id ? color : 'transparent',
                'border-color':  hoveredEpisodeId === ep.id || selectedEpisodeId === ep.id  ? color : 'var(--primary-color)',
            }"
           [ngClass]="{'ep-card-active': selectedEpisodeId === ep.id}">
        <label class="text-center">Episode<br>{{ep.number}}</label>
      </div>
    </div>

  </section>
</div>

