<div class="col-12 d-flex flex-column align-items-center popular-panel p-2 mt-2">
  <div class="col-12 d-flex p-2 justify-content-center align-items-center"  *ngIf="!isLoading">
    <h1 class="col-4">Popular</h1>
    <section class="col-8 d-flex justify-content-end gap-1">
      <button class="col-1 p-2" *ngIf="currentPage !== 1" (click)="decrementPage()">
        <i class="fa-solid fa-spinner fa-spin" *ngIf="previousLoading"></i>
        <span *ngIf="!previousLoading">Previous</span>
      </button>
      <button class="col-1 p-2" *ngIf="hasNextPage" (click)="incrementPage()">
        <span *ngIf="!nextLoading">Next</span>
        <i class="fa-solid fa-spinner fa-spin" *ngIf="nextLoading"></i>
      </button>
    </section>
  </div>
  <section class="col-12 d-flex flex-wrap">
    <div class="col-12 p-1 d-flex current-page" *ngIf="!isLoading && !nextLoading && !previousLoading">
      <label class="p-3 pt-2 pb-2" >{{"Page: "+currentPage}}</label>
    </div>
    <app-trending-card class="col-6 col-md-4 col-lg-2 col-xxl-2 col-xl-2" *ngFor="let animePreview of popularResult?.results" [animePreview]="animePreview"></app-trending-card>
  </section>
</div>
