.saved-anime {
  position: relative; /* Make it a positioning context */
  border-radius: 8px;
  background-size: cover;
  background-image: url("https://s4.anilist.co/file/anilistcdn/media/anime/banner/162804-NwvD3Lya8IZp.jpg");
  background-position: center;
  height: auto;
  min-height: 50vh;
  max-height: 50vh;
  transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.saved-anime::after {
  content: '';
  position: absolute; /* Position it relative to the parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Inherit the background from the parent */
  filter: grayscale(100%);
  z-index: 0; /* Place it behind the children */
  border-radius: 10px;
  transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.saved-anime h1 {
  color:white;
  font-weight: bolder;
  font-size: var(--large-font);
  z-index: 1; /* Ensure it is above the grayscale layer */
  background-color: var(--primary-color);
  max-width: max-content;
  border-radius: 4px;
}
.my-wrapper{
  z-index: 1;
}

.trending-card{
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 5px;
  cursor:  pointer;
  font-size: var(--medium-font);
  overflow: hidden;
  color: white;
}
.trending-card img{
  /*height: 40%;*/
  /*max-height: 40%;*/
  /*min-height: 40%;*/
  height: calc(50% * 2);
  min-height: calc(50% * 2);
  border-radius: 5px;
  max-height: 140px;
}
.trending-card:hover{
  background-color: var(--primary-color);
  color: white;
}
.trending-card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Limits to 2 lines */
  line-clamp: 1; /* Fallback for non-WebKit browsers */
  margin: 0 ;
}

.trending-card label{
  margin: 0;
  width: max-content;
  border-radius: 3px;
  font-size: var(--small-font);
}


