.saved-anime {
  position: relative; /* Make it a positioning context */
  border-radius: 8px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://s4.anilist.co/file/anilistcdn/media/anime/banner/162804-NwvD3Lya8IZp.jpg");
  background-position: center;
  height: auto;
  min-height: 50vh;
  max-height: 50vh;
  /*transition: background-image 0.1s ease-in-out, background-color 0.1s ease-in-out;*/
  overflow: auto;
  background-repeat: no-repeat;

}

.gradient{
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.50));
  height: auto;
  min-height: 50vh;
}



.saved-anime h1 {
  color:white;
  font-weight: bolder;
  font-size: var(--large-font);
  z-index: 1; /* Ensure it is above the grayscale layer */
  max-width: max-content;
  border-radius: 4px;
  text-shadow: 2px 2px 2px var(--primary-color); /* Adjust color and size */
}
.my-wrapper{
  z-index: 1;
}

.trending-card{
  /*background-color: rgba(0, 0, 0, 0.66);*/
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor:  pointer;
  font-size: var(--medium-font);
  overflow: hidden;
  color: white;
}
.trending-card img{
  /*height: 40%;*/
  /*max-height: 40%;*/
  /*min-height: 40%;*/
  height: calc(50% * 2);
  min-height: calc(50% * 2);
  border-radius: 5px;
  max-height: 140px;
}
.trending-card:hover{
  background-color: rgba(0, 0, 0, 0.51);
  color: white;
}
.trending-card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Limits to 2 lines */
  line-clamp: 1; /* Fallback for non-WebKit browsers */
  margin: 0 ;
}

.trending-card label{
  margin: 0;
  width: max-content;
  border-radius: 3px;
  font-size: var(--small-font);
}


