<div class="col-12 d-flex flex-column">
  <section *ngIf="saveAnimes.length>0" class="col-12 p-1 d-flex flex-column saved-anime bg"
           [ngStyle]="{'background-image': 'url(' + animeBanner + ')', 'background-size': 'cover', 'height': '200px'}">
<!--    <h1 class="p-3">SAVED ANIME</h1>-->

    <section class="col-12 d-flex flex-wrap my-wrapper">
      <div class="col-6 col-md-4 col-lg-2 col-xxl-2 col-xl-2" *ngFor="let anime of saveAnimes">
        <section class="col-12  p-1">
          <section class="col-12 trending-card p-1 d-flex">

            <div class="col-5 poster-wrapper">
              <img [src]="anime.poster" class="col-12" #card/>
            </div>
            <div class="col-7 d-flex flex-column p-1 gap-1">
              <p>{{anime.title}}</p>
            </div>
          </section>
        </section>

      </div>

    </section>


  </section>
</div>
