<div class="col-12 anime-page pb-3 d-flex justify-content-center  align-items-center flex-column">
  <app-header class="col-12" (toggleSearch)="setShowSearchBar($event)"
              (toggleSave)="setShowSaved($event)"></app-header>
  <app-search-bar class="col-11" *ngIf="showSearchBar" (setError)="setShowError($event)"></app-search-bar>
  <app-error class="col-5 col-xxl-2 col-xl-2 col-lg-2" *ngIf="showError"></app-error>
  <app-my-corner class="col-11 mt-2" *ngIf="showSaved"></app-my-corner>
  <div class="col-11 d-flex flex-column" *ngIf="!showError && !showSearchBar && !showSaved">
    <app-trending-panel class="col-12" (setError)="setShowError($event)"></app-trending-panel>
    <app-popular-panel class="col-12" (setError)="setShowError($event)"></app-popular-panel>
  </div>

</div>
