.page-control {

}
.page-control label, .box{
  font-size: var(--medium-font);
  border-radius: 3px;
  font-weight: bold;

}

.page-control label{
  background-color: var(--primary-color);
  min-height: 30px;
  max-height: 30px;
  max-width: 70px;
  min-width: 70px;
  color: white;
}


.box{
  min-width: 30px;
  aspect-ratio: 1/1;
  background-color: var(--light-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box-active{
  background-color: var(--primary-color);
  color: white;
}
